<meta charset="UTF-8" />
<title>Honeymooner</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="Adapt Studio" />
<meta property="og:image" content="Assets/Images/fbimg.png" />
<meta property="og:title" content="og title" />
<meta property="og:description" content="desc." />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@site" />
<meta name="twitter:title" content="Title." />
<meta name="twitter:description" content="desc." />
<meta name="twitter:image" content="Assets/Images/twimg.png" />
<link rel="icon" type="image/png" href="assets/icons/logo.jpg" size="32x32" />
<link
  rel="apple-touch-icon-precompose"
  size="144x144"
  href="assets/icons/logo.jpg"
/>
<link
  rel="apple-touch-icon-precompose"
  size="114x114"
  href="assets/icons/logo.jpg"
/>
<meta name="robots" content="index, follow" />
<link rel="stylesheet" href="adapt.css" />
